# Normaliser les fins de ligne
*.sh text eol=lf
*.ps1 text eol=crlf
*.c text eol=lf
*.h text eol=lf
*.rs text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
Makefile text eol=lf
Dockerfile text eol=lf

